<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${title}">Default Title</title>
    <link href="../static/output.css" rel="stylesheet"/>
</head>
<body>
    <footer class="bg-cyan-600 flex items-center justify-between h-17 px-10 py-2.5" style="background-color: rgb(3 105 161);">
        <div>
            <p class="text-white text-medium font-light">© Keine Copyright</p>
        </div>
        <div>
            <ul>
                <il class="text-medium font-light text-white mx-7 my-0 hover:underline"><a href="/hilfe">Hilfe</a></il>
                <il class="text-medium font-light text-white mx-7 my-0 hover:underline"><a href="/kontakt">Kontakt</a></il>
            </ul>
        </div>
    </footer>
</body>
</html>