<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link href="../static/output.css" rel="stylesheet"/>
</head>
<body>
    <header th:fragment="main-header" class="max-[600px]:block flex items-center justify-between px-10 py-2.5 shadow-lg">
            <a class="flex items-center justify-center" href="/">
                <p class="text-3xl font-semibold" style="color: rgba(215, 9, 9, 1);">
                    Koup
                </p>
                <p class="text-3xl font-semibold">
                    Heft
                </p>
            </a>
        <div>
            <ul class="flex items-center justify-center w-full space-x-7">
                <li>
                </li>
            </ul>
        </div>
    </header>
</body>
</html>