<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../static/output.css" rel="stylesheet"/>
    <title>Document</title>
</head>
<body>
<header th:replace="header :: header"></header>
<div id="splitter" class="h-12"></div>
<div class="flex items-center flex-col space-y-11">
    <div>
        <img src="../static/images/empty-page.png">
    </div>
    <div id="form-title" class="flex flex-col items-center space-y-2">
        <p class="text-3xl text-center font-semibold">Es gibt noch keine Produkte in Ihrem Profil</p>
        <p class="text-medium font-font text-center text-black">Wenn Sie einen Code für ein Produkt haben, können Sie ihn jetzt hinzufügen!</p>
    </div>
    <div class="flex justify-center w-1/4">
        <a href="/products/add" class="flex justify-center items-center text-centet font-semibold text-xl w-full h-12 text-white bg-lime-600 hover:bg-lime-700 font-semibold rounded-lg" >Produkt hinzufügen</a>
    </div>
</div>
<footer th:replace="footer :: footer"></footer>
</body>
</html>